* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8e8e8;
}

.menuBar {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  width: 150px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.responsive-menu {
  display: none;
}

.res-options {
  position: absolute;
  margin: 0px 0px 0px -100px;
  display: none;
}

.menu-text {
  padding: 6px 10px;
}

.active p {
  background-color: blue;
  color: white;
  font-weight: 500;
  border-radius: 8px;
}

.home-grid {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.addContact-main {
  display: flex;
  justify-content: center;
}

.addContact-div {
  width: 30%;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: end;
}

@media (max-width: 767px) {
  .logo a {
    margin-left: -20px;
  }

  .logo a {
    padding: 15px 20px;
  }

  .menu-options {
    display: none;
  }

  .responsive-menu {
    display: block;
  }
  .res-options {
    display: block;
  }

  .addContact-div {
    width: 70%;
  }
}
